.ads-banner {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../../Assets/png/portfolioBanner3.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 7.5rem;
}
.ads-sm-heading-flex {
  display: flex;
  align-items: center;
}

@media (max-width: 480px) {
  .ads-banner {
    padding: 0rem 1.2rem;
    background-size: 125vw;
    min-height: 40vh;
  }

  .banner-right {
    margin: 0px;
    z-index: 20;
  }
  .heading-1-portfolio,
  .heading-2-portfolio {
    font-size: 2.5rem;
  }
  .q-class-portfolio {
    width: 2.4rem;
    padding-top: 6px;
  }
}
