.landing-footer-wrapper {
  background-color: #000000;
  min-height: 60vh;
  padding: 4rem 9rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.landing-footer-left {
  color: white;
  padding-left: 2rem;
}
.footer-heading {
  color: #6bdfa1;
}
.landing-footer-right {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 5rem;
}
.big-text-footer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.q-class-footer {
  width: 3rem;
}
.socials-footer .socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-buttons {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.6875rem;
  text-align: center;
  color: white;
  transition: all 0.6s ease;
}
.social-buttons:hover,
.social-buttons:focus {
  background-color: white;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
.icon {
  margin-top: 15px;
}
.facebook {
  background-color: #3b5998;
}
.facebook:hover,
.facebook:focus {
  color: #3b5998;
  /* border: 2px solid #3b5998; */
}
.twitter {
  background-color: #55acee;
}
.twitter:hover,
.twitter:focus {
  color: #55acee;
}
.instagram {
  background-color: #007bb5;
}
.instagram:hover,
.instagram:focus {
  color: #007bb5;
}
.youtube {
  background-color: #bb0000;
}
.youtube:hover,
.youtube:focus {
  color: #bb0000;
}

.linkedin {
  background-color: #007bb5;
}

.linkedin:hover,
.linkedin:focus {
  color: #007bb5;
}
