.landing-wrapper-market {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* padding: 1.5rem 9rem; */
  min-height: 90vh;
  margin-bottom: 1.8rem;
}
.hypeItUp {
  color: #1da1f2;
  font-size: 1.5rem;
}
.market-list-open {
  padding: 2rem 9rem;
  width: 100vw;
}
.landing-right-market {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
  position: absolute;
}
.item-desc {
  width: 800px;
}

.landing-left-market {
  position: absolute;
}
.heading-2-market {
  display: flex;
  align-items: center;
  gap: 4px;
}

.how-we-market-list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 54px;
  letter-spacing: 0.1em;
}
.normal-list {
  display: flex;
  align-items: center;
  padding-left: 9rem;
}

.para-market {
  width: 30rem;
  line-height: 1.15312464em;
  font-size: 1.4rem;
}
.q-class-market {
  width: 5.7rem;
  padding-top: 15px;
}
/* 
@media (min-width: 1200px) and (max-width: 1599px) {
  .landing-wrapper-market {
    padding: 1.5rem 9rem;
  }
  .landing-left-market {
    width: 60%;
  }

  .heading-1,
  .heading-2-market {
    font-size: 5rem;
  }
  .para-market {
    font-size: 1.5rem;
  }
  .q-class {
    font-size: 6rem;
  }
} */
@media (min-width: 1024px) and (max-width: 1199px) {
  .landing-wrapper-market {
    padding: 1.5rem 2rem;
  }
  .heading-1,
  .heading-2-market {
    font-size: 5rem;
  }
  .para-market {
    font-size: 1.5rem;
    width: 35rem;
  }
  .q-class {
    font-size: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .landing-wrapper-market {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 20px;
  }

  .landing-left-market {
    position: static;
  }
  .landing-right-market {
    position: static;
    padding: 1.5rem 2rem;
    margin-left: 0;
  }

  .heading-1,
  .heading-2-market {
    font-size: 4.5rem;
  }
  .q-class {
    width: 5rem;
  }
  .para-market {
    font-size: 1.5rem;
    width: 35rem;
  }
  .normal-list {
    padding: 0rem 2rem;
  }
  .market-list-open {
    padding: 0rem 2rem;
    box-sizing: border-box;
  }
  .item-desc {
    width: 600px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .landing-wrapper-market {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 20px;
  }

  .landing-left-market {
    /* width: 100%; */
    position: static;
  }
  .landing-right-market {
    position: static;
    padding: 1.5rem 2rem;
    margin-left: 0;
  }
  .heading-1,
  .heading-2-market {
    font-size: 4rem;
  }
  .q-class-market {
    width: 4.3rem;
    padding-top: 13px;
  }

  .para-market {
    font-size: 1.2rem;
    width: 24rem;
    margin-top: -4rem;
  }

  .btn-flex {
    justify-content: center;
  }
  .how-we-market-list {
    font-size: 0.8rem;
    gap: 8px;
    letter-spacing: 0.1em;
    align-items: flex-start;
    width: fit-content;
  }
  .normal-list {
    padding: 0rem 3rem;
  }
  .item-desc {
    width: 450px;
  }
  .market-list-open {
    /* padding: 0rem 2rem; */
    padding-left: 2rem;
    /* width: 63.8vw;
     */
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .landing-wrapper-market {
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 20px;
  }
  .how-we-market-list {
    font-size: 0.8rem;
    gap: 8px;
    letter-spacing: 0.1em;
    align-items: flex-start;
    margin: auto;
    width: fit-content;
    /* margin-left: 1.5rem; */
  }
  .landing-right-market {
    position: static;
    padding: 1.5rem 2rem;
    margin-left: 0;
  }
  .heading-1,
  .heading-2-market {
    font-size: 3rem;
  }
  .heading-1 {
    margin-top: 3px;
  }
  .landing-left-market {
    position: static;
    /* margin-right: auto; */
  }
  .q-class-market {
    width: 3rem;
    padding-top: 6px;
  }
  .para-market {
    font-size: 1rem;
    width: 18rem;
    margin-top: -4rem;
  }
  .normal-list {
    padding: 0rem 2rem;
  }
  .market-list-open {
    padding: 0rem 2rem;
    width: 86vw;
  }
  .item-desc {
    width: 350px;
  }
}
