.landing-wrapper-market {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 9rem;
  min-height: 90vh;
  margin-bottom: 1.8rem;
  width: 100%;
}

.landing-right-market {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
  position: absolute;
}
.landing-left-market {
  position: absolute;
}

.how-we-market-list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 54px;
  letter-spacing: 0.1em;
}
.how-we-market-list div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.para-market {
  width: 30rem;
  line-height: 1.15312464em;
  font-size: 1.4rem;
}
