/* Past Worq Screen Styles */
.landing-wrapper-worq {
  display: flex;
  align-items: flex-start;
  min-height: 90vh;
  margin-bottom: 1.8rem;
  justify-content: space-between;
}
.landing-left-worq {
  padding: 1rem 1rem 1rem 9rem;
  /* width: 100%; */
}
.landing-right-worq {
  padding: 0 9rem 0 0;
}
.heading-1-worq {
  font-size: 6rem;
  margin-bottom: -4rem;
  margin-top: 0;
}
