.landing-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 9rem;
  min-height: 90vh;
  /* margin-bottom: 1.8rem; */
  /* width: 100%; */
}

.heading-1,
.heading-2 {
  font-size: 6rem;
  margin: 0px;
  /* font-weight: 800; */
  line-height: 1.15312464em;
}
.heading-2 {
  letter-spacing: 0.03em;
  margin-top: -20px;
}
.heading-1 {
  margin-top: 3rem;
  margin-bottom: -4rem;
}
.span-text {
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.heading-1:hover {
  color: var(--black);
  -webkit-text-stroke: 3px var(--white);
  transition: all 0.3s;
}
.heading-2-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.q-class-home {
  padding-top: 24.2px;
  width: 5.6rem;
}
.para {
  font-size: 1.4rem;
}
.landing-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
  width: 569px;
}

.gradient {
  position: absolute;
  max-width: 300px;
  top: 6rem;
  object-fit: contain;
  z-index: 0;
}
.diagonal-arrow {
  font-size: 1.5rem;
}

.line-flex {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
  width: 93.5%;
}
.red-line {
  width: 8rem;
  background-color: #ff0042;
  height: 2px;
}

.home-links-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 40px;
  width: 24rem;
}
.home-links-flex a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.home-links-flex a:hover {
  color: black;
  transition: all 0.5s;
}
/* .homeImg {
  margin-left: -150px;
} */

/* @media (min-width: 1200px) and (max-width: 1599px) {
  .landing-wrapper {
    padding: 1.5rem 9rem;
  }
  .landing-left {
    width: 60%;
  }
  .landing-footer-left {
    width: 60%;
    padding-left: 0;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .q-class-home {
    font-size: 6rem;
    padding-top: 22px;
  }
  .homeImg {
    max-width: 300px;
  }

  .gradient {
    max-width: 250px;
    top: 4rem;
  }

  .heading-clients {
    font-size: 4rem;
  }
  .big-text-footer {
    font-size: 2rem;
  }
  .client-logo {
    width: 12rem;
  }
  .row-1,
  .row-2 {
    gap: 30px;
  }
} */
@media (min-width: 1024px) and (max-width: 1199px) {
  .landing-wrapper {
    padding: 1.5rem 2rem;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .q-class-home {
    width: 4.76rem;
    padding-top: 17px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
  }

  .landing-left {
    width: 100%;
  }
  .landing-right {
    justify-content: center;
    width: 400px;
    margin-right: auto;
  }
  .gradient {
    max-width: 230px;
    top: 3rem;
  }
  .homeImg {
    margin-left: 0px;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .heading-clients {
    font-size: 2.2rem;
  }
  .q-class-home {
    width: 4.76rem;
    /* height: 8rem; */
    padding-top: 17px;
  }
  .para {
    font-size: 1.5rem;
  }
  .client-logo {
    width: 10rem;
  }
  .big-text-footer {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
  }

  .landing-left {
    width: 100%;
  }
  .landing-right {
    justify-content: center;
    width: 400px;
    margin-right: auto;
  }
  .homeImg {
    margin-left: 0px;
    left: auto;
    right: auto;
  }
  .heading-1,
  .heading-2 {
    font-size: 4rem;
  }
  .q-class-home {
    width: 3.6rem;
    padding-top: 10px;
  }
  .para {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
    gap: 20px;
  }
  .home-links-flex a {
    font-size: 1rem;
  }
  .landing-right {
    margin: 0px;
  }
  .heading-1,
  .heading-2 {
    font-size: 3rem;
  }

  .homeImg {
    left: auto;
    right: auto;
    max-width: 300px;
  }
  .gradient {
    max-width: 230px;
    top: 2rem;
  }
  .landing-left {
    width: 100%;
  }
  .q-class-home {
    width: 2.6rem;
    padding-top: 7.3px;
  }
  .line-flex {
    width: 17rem;
  }
  .red-line {
    width: 6rem;
  }
  .diagonal-arrow {
    font-size: 1.2rem;
  }
  .home-links-flex {
    width: 20rem;
  }
  .homeImg {
    margin-left: 0px;
  }
  .landing-right {
    width: auto;
  }
}
