.landing-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 9rem;
  min-height: 90vh;
  margin-bottom: 1.8rem;
}

.heading-1,
.heading-2 {
  font-size: 5.8rem;
  margin: 0px;
  font-weight: 800;
  line-height: 1.15312464em;
}
.heading-2 {
  letter-spacing: 0.03em;
}
.span-text {
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.heading-1:hover {
  color: var(--black);
  -webkit-text-stroke: 3px var(--white);
  transition: all 0.3s;
}
.para {
  font-size: 1.4rem;
}
.landing-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
}
.q-class {
  width: 5.8rem;
}

.gradient {
  position: absolute;
  max-width: 300px;
  top: 6rem;
  object-fit: contain;
  z-index: 0;
}

.btn-flex {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.home-links-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 40px;
}
.home-links-flex a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.home-links-flex a:hover {
  color: black;
  transition: all 0.5s;
}

/* how we market */
.landing-wrapper-market {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 9rem;
  min-height: 90vh;
  margin-bottom: 1.8rem;
}

.landing-right-market {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
  position: absolute;
}
.landing-left-market {
  position: absolute;
}

.how-we-market-list {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  gap: 54px;
  letter-spacing: 0.1em;
}
.how-we-market-list div {
  display: flex;
  align-items: center;
  gap: 4px;
}
.para-market {
  width: 30rem;
  line-height: 1.15312464em;
  font-size: 1.4rem;
}

/* Past Worq Screen Styles */
.landing-wrapper-worq {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 90vh;
  margin-bottom: 1.8rem;
}
.landing-left-worq {
  padding: 1.5rem 10rem;
  width: 100%;
}
.landing-right-worq {
  padding: 0 10rem 0 0;
}

/* Our Spectacular Clients Styles */
.landing-clients-wrapper {
  padding: 1.5rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-clients {
  font-size: 4.2rem;
  margin: 0px;
  font-weight: 800;
  line-height: 1.15312464em;
}

.landing-clients-right {
  display: flex;
  margin-left: 24rem;
  align-items: left;
  gap: 40px;
  flex-wrap: wrap;
}
.clients {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.client-logo {
  filter: grayscale(1);
  transition: transform 0.3s ease;
  width: 20rem;
  height: 15rem;
}
.client-logo:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

/* Landing Footer Wrapper */
.landing-footer-wrapper {
  background-color: #000000;
  min-height: 60vh;
  padding: 4rem 9rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.landing-footer-left {
  color: white;
  padding-left: 2rem;
}
.footer-heading {
  color: #6bdfa1;
}
.landing-footer-right {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 5rem;
}
.big-text-footer {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}
.q-class-footer {
  width: 3rem;
}
.socials-footer .socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-buttons {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 1.6875rem;
  text-align: center;
  color: white;
  transition: all 0.6s ease;
}
.social-buttons:hover,
.social-buttons:focus {
  background-color: white;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  cursor: pointer;
}
.icon {
  margin-top: 15px;
}
.facebook {
  background-color: #3b5998;
}
.facebook:hover,
.facebook:focus {
  color: #3b5998;
  /* border: 2px solid #3b5998; */
}
.twitter {
  background-color: #55acee;
}
.twitter:hover,
.twitter:focus {
  color: #55acee;
}
.instagram {
  background-color: #007bb5;
}
.instagram:hover,
.instagram:focus {
  color: #007bb5;
}
.youtube {
  background-color: #bb0000;
}
.youtube:hover,
.youtube:focus {
  color: #bb0000;
}

.linkedin {
  background-color: #007bb5;
}

.linkedin:hover,
.linkedin:focus {
  color: #007bb5;
}

@media only screen and (max-width: 1250px) {
  .landing-left {
    width: 60%;
  }
  .landing-footer-left {
    width: 60%;
    padding-left: 0;
  }

  .gradient {
    max-width: 250px;
    top: 4rem;
  }
  .iphone {
    max-width: 300px;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .heading-clients {
    font-size: 4rem;
  }
  .big-text-footer {
    font-size: 2rem;
  }
  .q-class {
    width: 4rem;
  }
  .client-logo {
    width: 12rem;
  }
  .row-1,
  .row-2 {
    gap: 30px;
  }
}

@media only screen and (max-width: 1050px) {
  .gradient {
    max-width: 230px;
    top: 3rem;
  }
  .iphone {
    max-width: 280px;
  }
  .heading-1,
  .heading-2 {
    font-size: 4rem;
  }
  .heading-clients {
    font-size: 2.2rem;
  }
  .q-class {
    width: 4rem;
  }
  .para {
    font-size: 1rem;
  }
  .client-logo {
    width: 10rem;
  }
  .big-text-footer {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
  }
  .landing-clients-wrapper {
    padding: 1.5rem 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing-wrapper-market {
    flex-wrap: wrap-reverse;
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: flex-start;
  }

  .landing-footer-wrapper {
    padding: 1.5rem 1.5rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .landing-footer-left {
    color: white;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .para-market {
    font-size: 1rem;
    width: 20rem;
  }

  .landing-left {
    width: 100%;
    text-align: center;
  }
  .landing-left-market {
    position: static;
    width: 100%;
    text-align: center;
  }
  .big-text-footer {
    font-size: 1.2rem;
    justify-content: center;
  }

  .landing-right {
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }
  .landing-right-market {
    position: static;
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }
  .landing-footer-right {
    justify-content: center;
  }

  .iphone {
    left: auto;
    right: auto;
  }

  .heading-1,
  .heading-2 {
    font-size: 3rem;
  }
  .heading-clients {
    font-size: 1.6rem;
  }

  .q-class {
    width: 2.5rem;
  }
  .q-class-footer {
    width: 1.2rem;
  }
  .para {
    font-size: 0.8rem;
  }
  .btn-flex {
    justify-content: center;
  }
  .how-we-market-list {
    margin-top: 30px;
    font-size: 1rem;
    gap: 50px;
  }
  .socials-footer .socials {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 380px) {
  .landing-wrapper {
    height: 120vh;
  }
  .landing-clients-wrapper {
    height: 120vh;
  }
  .client-logo {
    width: 8rem;
  }
}
