.landing-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 9rem;
  min-height: 90vh;
  /* margin-bottom: 1.8rem; */
  /* width: 100%; */
}

.heading-1,
.heading-2 {
  font-size: 5.8rem;
  margin: 0px;
  /* font-weight: 800; */
  line-height: 1.15312464em;
}
.heading-2 {
  letter-spacing: 0.03em;
  margin-top: -20px;
}
.span-text {
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.heading-1:hover {
  color: var(--black);
  -webkit-text-stroke: 3px var(--white);
  transition: all 0.3s;
}
.heading-2-flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.q-class-home {
  padding-top: 22px;
}
.para {
  font-size: 1.4rem;
}
.landing-right {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  align-items: left;
}
.q-class {
  width: 5.8rem;
  height: 7rem;
}

.gradient {
  position: absolute;
  max-width: 300px;
  top: 6rem;
  object-fit: contain;
  z-index: 0;
}

.line-flex {
  width: calc(100% - 250px);
  margin-top: 2rem;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 100px;
}
.red-line {
  width: calc(100% - 334px);
  background-color: #ff0042;
  height: 2px;
}

.home-links-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
  gap: 40px;
}
.home-links-flex a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--textPrimary);
  font-size: 1.4rem;
}
.home-links-flex a:hover {
  color: black;
  transition: all 0.5s;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .landing-wrapper {
    padding: 1.5rem 9rem;
  }
  .landing-left {
    width: 60%;
  }
  .landing-footer-left {
    width: 60%;
    padding-left: 0;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .q-class {
    font-size: 6rem;
  }
  .iphone {
    max-width: 300px;
  }

  .gradient {
    max-width: 250px;
    top: 4rem;
  }

  .heading-clients {
    font-size: 4rem;
  }
  .big-text-footer {
    font-size: 2rem;
  }
  .client-logo {
    width: 12rem;
  }
  .row-1,
  .row-2 {
    gap: 30px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .landing-wrapper {
    padding: 1.5rem 2rem;
  }
  .heading-1,
  .heading-2 {
    font-size: 5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .q-class {
    font-size: 6rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
  }

  .landing-left {
    width: 100%;
  }
  .landing-right {
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }
  .gradient {
    max-width: 230px;
    top: 3rem;
  }
  .iphone {
    max-width: 280px;
  }
  .heading-1,
  .heading-2 {
    font-size: 4.5rem;
  }
  .heading-clients {
    font-size: 2.2rem;
  }
  .q-class {
    width: 5rem;
  }
  .para {
    font-size: 1.5rem;
  }
  .client-logo {
    width: 10rem;
  }
  .big-text-footer {
    font-size: 1.5rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 3rem;
  }

  .landing-left {
    width: 100%;
  }
  .landing-right {
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }
  .iphone {
    left: auto;
    right: auto;
  }
  .heading-1,
  .heading-2 {
    font-size: 4rem;
  }
  .q-class {
    width: 5rem;
  }
  .para {
    font-size: 0.8rem;
  }

  .landing-clients-wrapper {
    padding: 1.5rem 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .landing-wrapper-market {
    flex-wrap: wrap-reverse;
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: flex-start;
  }

  .landing-footer-wrapper {
    padding: 1.5rem 1.5rem;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .landing-footer-left {
    color: white;
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .para-market {
    font-size: 1rem;
    width: 20rem;
  }

  .landing-left-market {
    position: static;
    width: 100%;
    text-align: center;
  }
  .big-text-footer {
    font-size: 1.2rem;
    justify-content: center;
  }

  .landing-right-market {
    position: static;
    justify-content: center;
    margin-right: auto;
    margin-top: 4rem;
  }
  .landing-footer-right {
    justify-content: center;
  }

  .heading-clients {
    font-size: 1.6rem;
  }

  .q-class-footer {
    width: 1.2rem;
  }

  .btn-flex {
    justify-content: center;
  }
  .how-we-market-list {
    margin-top: 30px;
    font-size: 1rem;
    gap: 50px;
  }
  .socials-footer .socials {
    justify-content: space-around;
  }
}

@media (max-width: 480px) {
  .landing-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
    gap: 20px;
  }
  .landing-right {
    margin: 0px;
  }
  .heading-1,
  .heading-2 {
    font-size: 3rem;
  }
  .iphone {
    left: auto;
    right: auto;
    max-width: 300px;
  }
  .gradient {
    max-width: 230px;
    top: 2rem;
  }
  .landing-left {
    width: 100%;
  }
  .q-class {
    width: 4rem;
  }
  .line-flex {
    width: 17rem;
    gap: 100px;
  }
  .red-line {
    width: 100%;
  }
}
/* .landing-clients-wrapper {
    height: 120vh;
  }
  .client-logo {
    width: 8rem;
  } */
