@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --textPrimary: #ff0042;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.loader-img {
  margin: 15rem auto;
  width: fit-content;
}
.loader-img img {
  max-width: 400px;
}
@supports (-webkit-appearance: none) {
  body {
    font-family: "Montserrat", "Montserrat", sans-serif;
  }
}

@media only screen and (max-width: 380px) {
  .loader-img img {
    max-width: 200px;
  }
}
@media only screen and (max-width: 800px) {
  .loader-img img {
    max-width: 300px;
  }
}
